@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;400;0,500;600;1,400&display=swap");

p {
  font-weight: 400;
}

.detailsPage {
  display: grid;
  flex-direction: column;
}

.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.detailsHeader h1 {
  text-align: center !important;
  margin: 0;
}

h2 {
  text-align: center !important;
}

.expDetails {
  display: grid;
  grid-template-columns: 400px 3fr 200px;
}

.expAuthorCard {
  border-radius: 10px;
  background-color: #fa9397;
  margin-right: 2rem;
  margin-left: 1rem;
  text-align: left !important;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  top: 10px;
  right: 10px;
  height: max-content;
  width: 20rem;
  box-shadow: 20px 20px #b1d573;
}

.detailsSection {
  width: 50rem;
}

.textBox {
  border-radius: 10px;
  background-color: #d7c6ac;
  margin-top: -20px;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slideshow-container {
  max-width: 50rem;
  position: relative;
  margin: auto;
}
