@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;400;0,500;600;1,400&display=swap");

p {
  font-weight: 400;
}

.detailsPage {
  display: grid;
  flex-direction: column;
}

.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.detailsHeader h1 {
  text-align: center !important;
  margin: 0;
}

.expDetails {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.expAuthorCard {
  border-radius: 10px;
  background-color: #fa9397;
  /* padding: 1rem; */
  text-align: center;
  position: relative;
  top: 10px;
  right: 10px;
  height: max-content;

  width: 20rem;
  box-shadow: 20px 20px #b1d573;
}

.textBox {
  border-radius: 10px;
  background-color: #d7c6ac;
  margin-top: -20px;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
