/* .detailsPage {
  display: flex;
  flex-direction: row;
}

.expDetails {
  display: flex;
  flex-direction: column;
} */

.detailsPage {
  display: grid;
  flex-direction: column;
}

.expDetails {
  flex: 1;
  padding: 20px;
}

/* .expAuthorCard {
  flex: 0 0 300px;
  padding: 20px;
} */

.expDetails {
  border-right: 1px solid #ccc;
}

.header {
  display: flex;
  flex-direction: row;
}
