@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;400;0,500;600;1,400&display=swap");

.inputColorBox {
  border-radius: 10px;
  background: #efcb59;
  box-shadow: 20px 20px #fa9397;
  padding: 20px;
  min-width: 600px;
  min-height: 500px;
}

.expTypeNavbar {
  color: black;
  background-color: #efcb59;
  padding: 2rem;
  font-size: 25pt;
  font-weight: 400;
  margin-bottom: 1rem;
}

.expTypeNavbar a {
  color: #1b729d;
}

.expTypeNavbar a:hover {
  color: black;
}

.mainBodyExp {
  /* height: 180rem; */
  background-image: linear-gradient(#fa9397, #efcb59);
  /* background-size: contain !important; */
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.storyCards {
  background-color: #d7c6ac;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  /* height: 120rem; */
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
}

.storyCardSingle {
  display: flex;
  flex-direction: column;
  width: 20rem;
  box-shadow: 5px 5px #b1d573;
  position: relative;
  border: black solid 2px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  margin-top: 0px !important;
}

.gridPhoto {
  width: 100%;
  border-radius: 1%;
  height: 250px;
  object-fit: cover;
}

.storyCardTitle {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 16pt !important;
  min-height: 4rem;
}

.storyCardCaption {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.subPhotoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}

.bookmarkSet {
  display: flex;
  align-items: center;
  position: relative;
}

.bookIcon {
  background-color: transparent !important;
  cursor: pointer;
  color: black !important;
}

.bookmarkLgth {
  margin-left: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.deleteIcon {
  background-color: transparent !important;
  cursor: pointer;
}

.photoCard {
  position: relative;
}

.photoCard p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efcb59;
  color: black;
  padding: 5px;
  margin: 0;
  font-size: 14px;
}

.gridPhoto {
  width: 100%;
  display: block;
}

.iconSet {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
