@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.inputColorBox {
  border-radius: 0.625rem;
  background: #efcb59;
  box-shadow: 1.25rem 1.25rem #fa9397;
  padding: 2rem;
  min-width: 37.5rem;
  min-height: 31.25rem;
}

.expTypeNavbar {
  color: black;
  background-color: #efcb59;
  padding: 2rem;
  font-size: 25pt;
  font-weight: 400;
  margin-bottom: 1rem;
}

.expTypeNavbar a {
  color: #1b729d;
}

.expTypeNavbar a:hover {
  color: black;
}

.mainBodyExp {
  background-image: linear-gradient(#fa9397, #efcb59);
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.storyCards {
  background-color: #d7c6ac;
  border-radius: 0.625rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
}

.storyCardSingle {
  display: flex;
  flex-direction: column;
  width: 20rem;
  box-shadow: 0.3125rem 0.3125rem #b1d573;
  position: relative;
  border: black solid 0.125rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  margin-top: 0rem !important;
}

.storyCardTitle {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 16pt !important;
  min-height: 4rem;
}

.storyCardCaption {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.subPhotoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}

.bookmarkSet {
  display: flex;
  align-items: center;
  position: relative;
}

.bookIcon {
  background-color: transparent !important;
  cursor: pointer;
  font-size: 1.5rem;
  color: black !important;
}

.bookmarkLgth {
  margin-left: 0.3125rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.reactIcons {
  background-color: transparent !important;
  cursor: pointer;
  color: black;
}

.photoCard {
  position: relative;
}

.photoCard p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efcb59;
  color: black;
  padding: 0.3125rem;
  margin: 0;
  font-size: 0.875rem;
}

.photoCard img {
  width: 100%;
  border-radius: 1%;
  height: 15.625rem;
  object-fit: cover;
}

.iconSet {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.formRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.formRow input {
  width: 15.625rem !important;
  word-wrap: break-word !important;
}

.formRow img {
  width: 16%;
  height: 16%;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
}

.formRow label {
  margin-right: 1rem;
}

.formColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
