footer {
  cursor: pointer;
  background-color: #1b729d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.625rem;
}

.githubIcon {
  color: white;
  font-size: 1rem;
}

@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1180px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}
