footer {
  cursor: pointer;
  background-color: #1b729d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.625rem;
}

.githubIcon {
  color: white;
  font-size: 1rem;
}
