@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;400;0,500;600;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.beigeBox {
  opacity: 0.9;
  background: #d7c6ac;
  width: 583px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.nakdButton {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  width: max-content;
  align-self: center;
  padding: 10px !important;
  border-radius: 0px;
  padding: 5px;
  font-weight: 400;
  margin: 10pt;
}

.nakdButton:hover {
  background-color: black !important;
  color: #d7c6ac !important;
  border-radius: 10pt;
}

Link:hover {
  background-color: black !important;
  background: #d7c6ac !important;
}

.top5Carousel {
  background-color: #efcb59;
  border-radius: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #d7c6ac;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.carouselPhoto {
  width: 80%;
}

.carouselGrid {
  display: flex;
  flex-direction: row;
}

.dot {
  height: 180px;
  width: 180px;
  cursor: pointer;
  background-color: #efcb59;
  color: black;
  font-size: 14pt;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 4px 4px black;
}

.circleBox {
  position: absolute;
  right: -125px;
  top: 30px;
  text-align: center;
  transform: rotate(20deg);
  color: white;
  align-items: center;
}
