.LogUpColorBox {
  border-radius: 0.625rem;
  background-color: #b1d573;
  box-shadow: 1.25rem 1.25rem #fa9;
  padding: 5%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: stretch;
  flex-shrink: 0;
}

.loginFormPhoto {
  width: 20%;
  height: 20%;
  margin-left: 70%;
}

.formColumnLogup {
  display: flex;
  flex-direction: row;
  align-items: flex-start
  justify-content: space-between;
}

.formButton {
  border-radius: 0.625rem;
  margin: 1rem;
  background-color: #d7c6ac;
  width: max-content;
  color: black;
  font-weight: 300;
}

input#file-upload-button {
  border-radius: 0.625rem !important;
  background-color: #d7c6ac !important;
  color: white;
}

input {
  height: 2.5rem;
  flex-shrink: 0;
  background-color: #d9d9d9;
  color: black;
  border-radius: 0.625rem !important;
}

.inputContainer {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-weight:300;
}

.inputContainer input {
  width: 15.625rem !important;
  word-wrap: break-word !important;
}

.inputContainer label {
  margin-right: 1rem;
}




.hide-passwordSignUp {
  position: relative;
  top: -23.3125rem;
  left: 34.375rem;
  color: white;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-passwordLogin {
  position: relative;
  top: -12.8rem;
  left: 33rem;
  color: white;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadButton {
  position: relative;
  color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375rem;
}

.photoLine {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
}

.pswEmailBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.pswEmailBoxL {
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-content: space-between;
}

.photoLine img {
    width: 16%;
    height: 16%;
    margin-left: 4.375rem;
    border-radius: 50%;
}

@media (max-width: 480px) {
  .LogUpColorBox {
    padding: 10%;
    width: 60vw;
  }

  .loginFormPhoto {
    width: 35%;
    height: 35%;
    margin-left: 60%;
}

.hide-passwordLogin {
  opacity:0!important;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .formColumnLogup {
    flex-wrap:no-wrap;
    flex-direction: column;
    align-items: flex-start ;
  }
  
  .hide-passwordLogin {
    position: relative;
    top: -12.8rem;
    left: 16rem;
    color: white;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1180px) {
  .formColumnLogup {
    flex-wrap:no-wrap;
    flex-direction: column;
    align-items: flex-start ;
  }
  
  .hide-passwordLogin {
    position: relative;
    top: -12.8rem;
    left: 16rem;
    color: white;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}
