@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.general-map-card {
  margin-top: 1rem;
  padding: 1rem;
  min-width: 50rem;
  width: 100%;
  height: 61vh;
  background: #efcb59;
  border: 1px solid rgb(91, 90, 90);
  border-radius: 5px;
  overflow: hidden;
}

.general-map-card p {
  margin-bottom: -2.3rem;
  padding-bottom: 2.9rem;
  padding-top: 1rem;
}

#map-container {
  margin-left: auto;
  margin-right: auto;
  background: #1b729d;
  display: block;
  width: 100%;
  height: 100%;
}

.experiencePopUp {
  height: 1.2rem;
  text-align: center;
  background-color: black;
}

#popup-image {
  border-radius: 5px;
  width: 100%;
  margin-top: -3rem;
  cursor: pointer;
}

#popup-text {
  color: black;
  font-weight: 500;
  cursor: pointer;
}
