.profileBox {
  border-radius: 10px;
  background: #b1d573;
  width: 80%;
  flex-shrink: 0;
  border-bottom: 10px 10px solid;
  box-shadow: 20px 20px #fa9397;
  margin-left: 6rem;
}

.profileColorBox {
  border-radius: 10px;
  background: #efcb59;
  box-shadow: 20px 20px #fa9397;
  padding: 2rem;
  width: 600px;
  min-height: 500px;
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInputContainer {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.inputKeys {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profileColumns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.userInfoColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 5px #fa9397;
  border-radius: 10pt;
  padding: 1.5rem;
}

.titleEditIcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-size: 1.2rem;
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.profileBody {
  padding: 2rem;
  width: 100%;
}

#userProfilePhoto {
  width: 20%;
  border-radius: 50%;
}

.profileSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.profileCards {
  background-color: #d7c6ac;
  width: 10rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.profileCards img {
  width: 100%;
  border-radius: 1%;
  height: 10rem;
  object-fit: cover;
}

.profileCards p {
  color: black !important;
}

.profileUpdatePhoto {
  width: 16%;
  height: 16%;
  margin-left: 20%;
  margin-right: 5%;
  border-radius: 50%;
}
