@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.mainSearchBox {
  box-shadow: 0.3125rem 0.3125rem black;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 75%;
  margin: 7rem;
  margin-bottom: 1rem !important;
  margin-top: 0rem !important;
  font-size: 1vw;
}

.searchByCity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchInputBox {
  margin-right: 3rem!;
  width: 10rem !important;
}

input {
  margin-right: 1rem;
  background-color: #d7c6ac;
}

.dropdownSearch {
  height: 2.5rem;
  background-color: #000;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0.0625rem 0.0625rem #d9d9d9;
  cursor: pointer;
  margin-right: 1rem;
}

.searchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.logoSearchbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 16%;
}

.logoSearchbar img {
  max-width: 10%;
  min-width: 7%;
}

.addExperienceBtn {
  /* font-size: 1.125rem; */
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1180px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}
